<?xml version="1.0" encoding="utf-8" ?>
<!--***This file has been modified from the original version provided by ESRI***-->
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://kiwis.kisters.de"
                   matchAll="true"/>		
        <serverUrl url="http://waterservices.usgs.gov"
                   matchAll="true"/>	
        <serverUrl url="http://byuhydro.byu.edu"
                   matchAll="true"/>		
        <serverUrl url="http://hilltopserver.horizons.govt.nz"
                   matchAll="true"/>
        <serverUrl url="http://193.206.192.250"
                   matchAll="true"/>
        <serverUrl url="http://drought.usu.edu"
                   matchAll="true"/>	
        <serverUrl url="http://mirador-ts1.gsfc.nasa.gov"
                   matchAll="true"/>				   			   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
